<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381883358110-601h5feq0m21j79u0nsinu940s4kqkha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381883358110-601h5feq0m21j79u0nsinu940s4kqkha</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ2IwbNGkBS70w4bp9CwUnNJGT7CWUGr0</string>
	<key>GCM_SENDER_ID</key>
	<string>381883358110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-e67bc</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-e67bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381883358110:ios:e87dc9c50396723386d48f</string>
</dict>
</plist>